mixin panel(item)
  - var iconName = `${item.icon}${item.type === 'critical' ? '-white' : ''}`

  .panel(class=[
    `panel_${item.size}`,
    `panel_${item.type}`,
    attributes.class,
    {'panel_has-content': item.description || item.data}
  ])
    .panel__header
      .panel__title
        .panel__icon
          .icon(class={
            [`icon_${item.icon}`]: true,
            [`icon_${item.icon}_active`]: item.type === 'critical',
          })
        .panel__name.js-truncate(data-original=item.title)= item.title
      .panel-info(class=`panel-info_${item.size}`)
        .panel-info__item= item.source
        .panel-info__item= item.time

    if item.description || item.data
      .panel__content
        .panel__line
          .panel__text= item.description
        
        if item.data && item.data.image
          .panel__line
            .camera.js-camera(touch-action="none")
              .camera__container
                .camera__image.js-camera-image
              .camera__info
                .panel-info
                  .panel-info__item Приближение: #[span.js-camera-scale 100%]
                  .panel-info__item Яркость: #[b.js-camera-brightness 100%]
        
        if item.data && item.data.track
          .panel__line
            .player.panel__player
              .player__header
                .player__picture(style={'background-image': `url(${item.data.albumcover})`})
                .player__info
                  .player__name #{item.data.artist} - #{item.data.track.name}
                  .player__duration
                    input.player__track(type="range")
                    .player__value #{item.data.track.length}
              .player__controls
                button.player__button.player__button_prev(type="button")
                button.player__button.player__button_next(type="button")
                input.player__volume(type="range" value=item.data.volume)
                .player__value #{item.data.volume}%

        if item.data && item.data.type == 'graph'
          .panel__line
            img.panel__image(src="images/graph.png" alt=item.title)

        if item.data && item.data.buttons
          .panel__line
            .panel__buttons
              for button in item.data.buttons
                button.button.panel__button(class={
                  'button_gray': button === 'Нет',
                })
                  | #{button}

        if item.data && (item.data.humidity || item.data.temperature)
          .panel__line
            .panel-info(class=`panel-info_${item.size}`)
              if item.data && item.data.temperature
                .panel-info__item Температура: #[b #{item.data.temperature} C]
              if item.data && item.data.humidity
                .panel-info__item Влажность: #[b #{item.data.humidity}%]

    button.panel__action.panel__action_arrow(
      type="button"
      title="Раскрыть событие"
      class={
        'panel__action_arrow-critical': item.type === 'critical' && !(item.data || item.description)
      }
    )
    button.panel__action.panel__action_close(
      type="button"
      title="Удалить событие"
      class={
        'panel__action_close-critical': item.type === 'critical'
      }
    )
